body {
    padding-top: 2.5rem;

    font-family: 'Open Sans';
}

.bet-list-section .status {
    display: block;
    width: 22px;
    height: 22px;

    border-radius: 50%;
}

.bet-list-section .settled {
    background: #63bb63;
}

.bet-list-section .pending {
    background: #f19631;
}

.bet-list-section table th {
    font-weight: 600;
}

.add-bet-section {
    margin-top: 5rem;
}

.add-bet-section .uk-radio {
    margin-right: 0.5rem;
}
