<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Sports betting</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="css/uikit.min.css" />
    <link rel="stylesheet" href="css/datepicker.min.css" />
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
    <link rel="stylesheet" href="css/style.css" />
    <script src="https://unpkg.com/vue"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.18.0/axios.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.22.2/moment.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="js/uikit.min.js"></script>
    <script src="js/datepicker.min.js"></script>
</head>
<body>
    <div id="app">
        <div class="uk-container uk-container-expand">

            <!-- BET LIST -->
            <div class="uk-section bet-list-section">
                <h2>Bet list</h2>
                <form class="uk-form">
                    <label>Date filter : </label> <input type="text" id="date_input" v-model="date_filter">
                </form>

                <table class="uk-table uk-table-striped">
                    <thead>
                        <tr>
                            <th>Sport</th>
                            <th>Date</th>
                            <th>League</th>
                            <th>Match</th>
                            <th>Bet</th>
                            <th>Status</th>
                            <th>Last odd</th>
                            <th>Min odd</th>
                            <th>Strategy</th>
                            <th>Stake</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr v-for="(bet, index) in bets" class="bet" :key="bet.id">
                            <td><img v-bind:src="'img/sports/' + bet.sportId + '.svg'" width="22" height="22" /></td>
                            <td>{{ bet.eventDate }}</td>
                            <td>{{ bet.leagueName }}</td>
                            <td>{{ bet.home }} - {{ bet.away }}</td>
                            <td v-if="bet.type == 'MONEYLINE'">
                                <span v-if="bet.team == 'TEAM1'">{{ bet.home }}</span>
                                <span v-else-if="bet.team == 'TEAM2'">{{ bet.away }}</span>
                                <span v-else>Draw</span>
                            </td>
                            <td v-if="bet.type == 'TOTAL_POINTS'">
                                <span v-if="bet.side == 'OVER'">Over</span>
                                <span v-else-if="bet.side == 'UNDER'">Under</span>
                                {{ bet.handicap }} goals
                            </td>
                            <td><div class="status" v-bind:class="{ 'pending': bet.status == 1, 'settled': bet.status == 2 }"></div></td>
                            <td><strong>{{ bet.lastPrice }}</strong></td>
                            <td>{{ bet.stopPrice }}</td>
                            <td><span class="uk-badge uk-badge-success">{{ bet.strategy }}</span></td>
                            <td>{{ bet.stake }} €</td>
                            <td><button @click="delete_bet(bet.id, $event)" class="uk-close"></button></td>
                        </tr>
                        <tr>
                            <td colspan="9"><strong>Total : <span v-text="bets.length"></span> bets</strong></td>
                            <td colspan="2"><strong>{{ total_stake }} €</strong></td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <!-- BET LIST -->

            <!-- ADD BET -->
            <div class="uk-section add-bet-section">
                <h2>Create bet</h2>
                <div class="uk-form">
                    <div class="uk-margin">
                        <label class="uk-form-label">League :</label>
                        <div class="uk-form-controls">
                            <select class="uk-select" @change="list_events" v-model="current_league_id">
                                <option v-for="league in leagues" value="" :value="league.leagueId" :key="league.id">{{ league.name }}</option>
                            </select>
                        </div>
                    </div>

                    <div class="uk-margin" v-show="events.length > 0">
                        <label class="uk-form-label">Event :</label>
                        <div class="uk-form-controls">
                            <select class="uk-select" v-model="current_event_id">
                                <option v-for="event in events" :value="event.id" :key="event.id">{{ event.starts | moment }} | {{ event.home }} - {{ event.away }}</option>
                            </select>
                        </div>
                    </div>

                    <div class="uk-margin" v-show="current_event_id != 0">
                        <label class="uk-form-label">Type :</label>
                        <div class="uk-form-controls">
                            <label style="margin-right: 1.5rem"><input class="uk-radio" type="radio" name="type" value="MONEYLINE" v-model="current_bet_type" /> Résultat</label>
                            <label><input class="uk-radio" type="radio" name="type" value="TOTAL_POINTS" v-model="current_bet_type"> Over / Under</label>
                        </div>
                    </div>

                    <div class="uk-margin" v-show="current_event_id != 0 && current_bet_type == 'MONEYLINE'">
                        <label class="uk-form-label">Type :</label>
                        <div class="uk-form-controls">
                            <label style="margin-right: 1.5rem"><input class="uk-radio" name="team" type="radio" value="TEAM1" v-model="current_bet_team" /> Home</label>
                            <label style="margin-right: 1.5rem"><input class="uk-radio" name="team" type="radio" value="DRAW" v-model="current_bet_team" /> Draw</label>
                            <label><input class="uk-radio" type="radio" name="team" value="TEAM2" v-model="current_bet_team"> Away</label>
                        </div>
                    </div>

                    <div class="uk-margin" v-show="current_event_id != 0 && current_bet_type == 'TOTAL_POINTS'">
                        <label class="uk-form-label">Side :</label>
                        <div class="uk-form-controls">
                            <label style="margin-right: 1.5rem"><input class="uk-radio" type="radio" name="side" value="OVER" v-model="current_bet_side" /> Over</label>
                            <label><input class="uk-radio" type="radio" value="UNDER" name="side" v-model="current_bet_side">Under</label>
                        </div>
                    </div>

                    <div class="uk-margin" v-show="current_event_id != 0 && current_bet_type == 'TOTAL_POINTS'">
                        <label class="uk-form-label">Handicap :</label>
                        <div class="uk-form-controls">
                            <input type="text" v-model="current_bet_handicap" />
                        </div>
                    </div>

                    <div class="uk-margin" v-show="current_event_id != 0">
                        <label class="uk-form-label">Strategy :</label>
                        <div class="uk-form-controls">
                            <input type="text" v-model="current_bet_strategy" />
                        </div>
                    </div>

                    <div class="uk-margin" v-show="current_event_id != 0">
                        <label class="uk-form-label">Stop price :</label>
                        <div class="uk-form-controls">
                            <input type="text" v-model="current_bet_stop_price" />
                        </div>
                    </div>

                    <div class="uk-margin" v-show="current_event_id != 0">
                        <label class="uk-form-label">Stake :</label>
                        <div class="uk-form-controls">
                            <input type="text" v-model="current_bet_stake" />
                        </div>
                    </div>

                    <button @click="create_bet" class="uk-button uk-button-primary" v-show="current_event_id != 0 && current_bet_stake != 0.0 && current_bet_strategy != '' && current_bet_stop_price != 0.0">Save</button>
                </div>
            </div>
            <!-- ADD BET -->

        </div>
    </div>

    <script>
        var app = new Vue({
            el: '#app',
            data: {
                bets: [],
                leagues: [],
                current_league_id: 0,
                events: [],
                current_event_id: 0,
                current_bet_type: "MONEYLINE",
                current_bet_team: "TEAM1",
                current_bet_side: "OVER",
                current_bet_handicap: 2.5,
                current_bet_strategy: "A",
                current_bet_stop_price: null,
                current_bet_stake: null,
                total_stake: null,
                date_filter: moment().format('Y-MM-DD'),
            },
            computed: {
                endpoint: function() {
                    var url = window.location.href;
                    return url.substring(0, url.indexOf(":",7)) + ":3000"
                },
            },
            mounted() {
                this.list_bets()
                this.list_leagues()
                UIkit.datepicker('#date_input');
                var vue = this;

                $('#date_input').on('change', function() {
                    vue.list_bets()
                    vue.date_filter = $(this).val();
                });
            },
            filters: {
                moment: function (date) {
                    return moment(date).format('DD MMM')
                }
            },
            methods: {
                list_bets: function() {
                    axios.get(this.endpoint + "/bets").then(response => {
                        this.bets = []
                        this.total_stake = 0

                        for (var i in response.data) {
                            var bet = response.data[i]
                            bet.eventDate = moment(bet.eventDate).format("D MMM Y H:mm")

                            if (moment(this.date_filter).isBefore(bet.eventDate)) {
                                this.total_stake += bet.stake
                                this.bets.push(bet)
                            }
                        }

                        this.total_stake = Math.round(this.total_stake * 100) / 100
                    })
                },
                list_leagues: function() {
                    axios.get(this.endpoint + "/leagues").then(response => {
                        this.leagues = response.data
                    })
                },
                list_events: function() {
                    axios.get(this.endpoint + "/events/" + this.current_league_id).then(response => {
                        this.events = response.data
                    })
                },
                create_bet: function() {
                    var league = ""
                    var home = ""
                    var away = ""
                    var event_date = ""

                    for (var i in this.events) {
                        var event = this.events[i]
                        if (event.id == this.current_event_id){
                            home =  event.home
                            away =  event.away
                            event_date =  event.starts
                            break
                        }
                    }

                    axios.post(this.endpoint + "/bet", {
                        league_id: this.current_league_id,
                        event_id: this.current_event_id,
                        event_date: event_date,
                        home: home,
                        away: away,
                        type: this.current_bet_type,
                        team: this.current_bet_team,
                        side: this.current_bet_side,
                        handicap: parseFloat(this.current_bet_handicap),
                        strategy: this.current_bet_strategy,
                        stop_price: parseFloat(this.current_bet_stop_price),
                        stake: parseFloat(this.current_bet_stake),
                    })
                    .then(function (response) {
                        console.log('Bet inserted successfully')
                        window.location.reload()
                    })
                    .catch(function (error) {
                        alert('An error has occured. Please check console')
                        console.log(error)
                    });
                },
                delete_bet: function(bet_id) {
                    axios.post(this.endpoint + "/delete_bet", {
                        bet_id: bet_id
                    })
                    .then(function (response) {
                        console.log('Bet deleted successfully')
                        window.location.reload()
                    })
                    .catch(function (error) {
                        alert('An error has occured. Please check console')
                        console.log(error)
                    });
                }
            }
        })
    </script>
</body>
</html>
